<div class="row">
  <div class="col-md-8 col-lg-8 mx-auto">
    <% if user_signed_in? %>
      <%= link_to "Buat Diskusi", new_forum_thread_path, class: 'btn btn-primary mb-3' %>
    <% end %>

    <% @threads.each do |t| %>
    <div class="thread">
      <h4 class="forum-title"><%= link_to t.title.titleize, forum_thread_path(t) %></h4>
      <div class="meta">
        <i class="far fa-calendar-plus"></i>
        <%= I18n.l(t.created_at.to_date) %> oleh <i class="far fa-user"></i> <%= t.user.name  %>
      </div>

      <div class="content">
        <p>
          <%= t.content %>
        </p>
      </div>

      <div class="count text-right">
        <span class="badge badge-pill badge-primary"><%= t.forum_posts_count %></span>  
        obrolan
      </div>
    </div>
    <% end %>
  </div> 
</div>