<div class="row">
  <div class="col-md-8 col-lg-8 mx-auto">
    <div class="thread">
      <h4 class="forum-title"><%= @thread.title.titleize %></h4>
      <div class="meta">
        <i class="far fa-calendar-plus"></i>
        <%= I18n.l(@thread.created_at.to_date) %> oleh <i class="far fa-user"></i> <%= @thread.user.name  %>
      </div>

      <div class="content">
        <p>
          <%= @thread.content %>
        </p>
      </div>
    </div>

    <% if @thread.forum_posts.any? %>
      <% @thread.forum_posts.each do |p| %>
        <div class="thread">
          <div class="meta">
            <i class="far fa-calendar-plus"></i>
            <%= I18n.l(p.created_at.to_date) %> oleh <i class="far fa-user"></i> <%= p.user.name  %>
          </div>

          <div class="content">
            <p>
              <%= p.content %>
            </p>
          </div>
        </div>
      <% end %>
    <% else %>
      <div>
        Jadilah yang pertama melakukan tanggapan
      </div>
    <% end %>

    <%= form_for [@thread, @post] do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, rows: 10, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Buat", class: 'btn btn-primary form-control'  %>
      </div>
    <% end %> 
  </div> 
</div>